interactions:
- request:
    body: null
    headers:
      Authorization:
      - bearer XYZ
      Custom-User-Agent:
      - Patient Portal; 3.17.0; 3a0cab8a-84f2-4fce-aff3-ddd623e0c4f4; Android; 28;
        generic_x86 Android SDK built for x86
      x-api-client-identifier:
      - Android
    method: GET
    uri: https://portalpacjenta.luxmed.pl/PatientPortalMobileAPI/api/visits/available-terms/reservation-filter?filter.CityId=1&filter.FromDate=2019-08-22
  response:
    body:
      string: '{"Cities": [{"Id": 1, "Name": "Warszawa"}, {"Id": 3, "Name": "Krak\u00f3w"},
        {"Id": 4, "Name": "\u0141\u00f3d\u017a"}, {"Id": 5, "Name": "Wroc\u0142aw"},
        {"Id": 6, "Name": "D\u0119bica"}, {"Id": 8, "Name": "Pozna\u0144"}, {"Id":
        10, "Name": "Bydgoszcz"}, {"Id": 12, "Name": "Bielsk Podlaski"}, {"Id": 17,
        "Name": "Katowice"}, {"Id": 20, "Name": "Olsztyn"}], "Services": [{"Id": 3393,
        "Name": "Rtg ko\u015bci \u0142\u00f3deczkowatej - prawej", "NameIncludeReferralType":
        null}, {"Id": 3396, "Name": "Rtg palca/palc\u00f3w stopy AP + bok/skos - prawej",
        "NameIncludeReferralType": null}, {"Id": 3808, "Name": "Gastroskopia", "NameIncludeReferralType":
        null}, {"Id": 3816, "Name": "Kolonoskopia", "NameIncludeReferralType": null},
        {"Id": 4279, "Name": "Rtg noso - gard\u0142a", "NameIncludeReferralType":
        null}, {"Id": 4281, "Name": "Rtg punktowe zdj\u0119cie z\u0119ba", "NameIncludeReferralType":
        null}, {"Id": 4282, "Name[...]
