interactions:
- request:
    body: null
    headers:
      Authorization:
      - bearer XYZ
      Custom-User-Agent:
      - Patient Portal; 3.17.0; 3a0cab8a-84f2-4fce-aff3-ddd623e0c4f4; Android; 28;
        generic_x86 Android SDK built for x86
      x-api-client-identifier:
      - Android
    method: GET
    uri: https://portalpacjenta.luxmed.pl/PatientPortalMobileAPI/api/visits/available-terms/reservation-filter?filter.FromDate=2019-08-22
  response:
    body:
      string: '{"Cities": [{"Id": 1, "Name": "Warszawa"}, {"Id": 3, "Name": "Krak\u00f3w"},
        {"Id": 4, "Name": "\u0141\u00f3d\u017a"}, {"Id": 5, "Name": "Wroc\u0142aw"},
        {"Id": 6, "Name": "D\u0119bica"}, {"Id": 8, "Name": "Pozna\u0144"}, {"Id":
        10, "Name": "Bydgoszcz"}, {"Id": 12, "Name": "Bielsk Podlaski"}, {"Id": 17,
        "Name": "Katowice"}, {"Id": 20, "Name": "Olsztyn"}], "Services": [], "Clinics":
        [], "Doctors": [], "Languages": [{"Id": 11, "Name": "english"}, {"Id": 7,
        "Name": "french"}, {"Id": 3, "Name": "german"}, {"Id": 6, "Name": "italian"},
        {"Id": 10, "Name": "polish"}, {"Id": 4, "Name": "russian"}, {"Id": 5, "Name":
        "spanish"}], "Payers": [{"Id": 10101, "IsFeeForService": false, "Name": "Acme
        Corporation"}], "DefaultPayer": [{"Id": 10101, "IsFeeForService": false, "Name":
        "Acme Corporation"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
