interactions:
- request:
    body: null
    headers:
      Authorization:
      - bearer XYZ
      Custom-User-Agent:
      - Patient Portal; 3.17.0; 3a0cab8a-84f2-4fce-aff3-ddd623e0c4f4; Android; 28;
        generic_x86 Android SDK built for x86
      x-api-client-identifier:
      - Android
    method: GET
    uri: https://portalpacjenta.luxmed.pl/PatientPortalMobileAPI/api/account/user/permissions
  response:
    body:
      string: '{"Chats": {"Module": {"HasPermission": true, "NoPermissionMessage":
        ""}}, "Visits": {"ReservedVisitsLimitation": {"HasLimitedFunctionality": false,
        "LimitedFunctionalityMessage": "", "LimitedFunctionalityMessageDetails": ""},
        "HistoricVisitsModule": {"HasPermission": true, "NoPermissionMessage": ""}},
        "MedicalExaminationsResults": {"Module": {"HasPermission": true, "NoPermissionMessage":
        ""}}, "Drugs": {"Module": {"HasPermission": true, "NoPermissionMessage": ""}},
        "Referrals": {"Module": {"HasPermission": true, "NoPermissionMessage": ""},
        "ReferralsForRealization": {"HasPermission": true, "NoPermissionMessage":
        ""}}, "NotificationSettings": {"Module": {"HasPermission": true, "NoPermissionMessage":
        ""}}, "Role": 2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
